.everything{background-color: blueviolet;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    padding-bottom: 4%;
    padding-top: 1%;



}

h1{text-align: center;
    margin-top: 4%;

}

.timer{background-color: brown;
    margin-left: 20%;
    margin-right: 20%;

}